* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #000;
}


nav{
    width: 100%;
    height: 70px;
    background-color: royalblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.part2{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav h4{
    font-size: 15px;
}
nav h5{
    font-size: 15px;
    display: none;
}


@media (max-width:500px) {
    nav{
    padding: 0 20px;
        height: 60px;
    }
    nav h4{
        display: none;
    }
    nav h5{
        display: block;
    }

}