* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
    white-space: nowrap;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

button {
    padding: 5px 20px;
    background-color: royalblue;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
}

button:active {
    scale: 0.95;
}

#playground {
    position: relative;
    height: 90%;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

