* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    padding: 100px;
}
h1{
    color: red;
}

h1:nth-child(3){
    color: blue;
}