* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.card{
    width: 360px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.card h1{
    
    font-size: 3rem;
    /* font-size: 48px; */
    margin-bottom: 15px;
}
.card p{
    font-size: 0.9em;
    font-weight: 500;
    color: gray;
    margin-bottom: 20px;

}
.card .skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.card .skills h4{
    font-size: 0.8em;
    font-weight: 500;
    border: 1.5px solid black;
    padding: 2px 8px;
    border-radius: 50px;
    white-space: nowrap;
}

.card button{
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: black;
    color: white;
}

