@font-face {
    font-family: inter;
    src: url(./Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
}

nav{
    height: 80px;
    width: 100%;
    /* background-color: lightseagreen; */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.inner-nav{
    display: flex;
    align-items: center;
    gap: 35px;
}
nav img{
   height: 40px;
}

nav h4{
    font-size: 16px;
    font-weight: 300;
    color: rgb(255, 255, 243);
}

button{
    background-color: rgb(255, 255, 243);
    padding: 14px 30px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 14px;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: #001D21;
    padding-top:7%;
}
.page1 .text{
    text-align: center;
    color: rgb(255, 255, 243);
}
.text h1{
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.text p{
    font-size: 17px;
    margin: auto;
    width: 39%;
    margin-top: 22px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    margin-top: 30px;
}
.images img{
    height: 500px;
    width: 400px;
    border-radius: 10px;
    object-fit: cover;
}
.page2{
    height: 100%;
    width: 100%;
    background-color: coral;
}