@font-face {
    font-family: man;
    src: url(./Manrope-VariableFont_wght.woff2);
}
@font-face {
    font-family: machina;
    src: url(./NeueMachina-Light.woff2);
    font-weight: 400;
}
@font-face {
    font-family: machina;
    src: url(./NeueMachina-Regular.woff2);
    font-weight: 500;
}
@font-face {
    font-family: machina;
    src: url(./NeueMachina-Ultrabold.woff2);
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: man;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    min-height: 100%;
    width: 100%;
    background: black;
}
section.page1{
    background: url(https://dfdx9u0psdezh.cloudfront.net/common/Background.svg);
    min-height: 100vh;
    background-size: 130%;
    background-position: center;
    width: 100%;
    padding-bottom: 5vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 3.55vmax;
}

nav .logo {
    width: 10.5vmax;
}

.part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33vmax;
    background: linear-gradient(#171212, #100B0B);
    padding: 0.8vmax 1.5vmax;
    border-radius: 8px;
    box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.387), 1px 1px 2px #312828, 0px 0px 40px #0000007b;
}

.part2 h4 {
    font-size: 0.9vmax;
    font-weight: 400;
    opacity: 0.6;
}

.part2 h4:nth-child(1) {
    font-weight: 500;
    opacity: 1;
}

nav .part3 {
    width: 8vmax;
    display: flex;
    justify-content: flex-end;
}

nav .profile {
    height: 2vmax;
    width: 2vmax;
    border-radius: 50%;
    object-fit: cover;
}

.menu {
    /* background-color: red; */
    height: 15px;
    width: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 0;
}

.menu .line {
    height: 2.5px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}


/* responsive code of navbar  */
@media (max-width:600px) {
    nav {
        padding: 30px 8vw;
    }

    nav .logo {
        width: 40vw;
    }

    nav .part3 {
        display: none;
    }

    nav .part2 {
        display: none;
    }

    .menu {
        display: flex;
    }
}



.center-page1{
    text-align: center;
    padding: 7rem;
}

.center-page1 h3{
    color: #E8602E;
    font-family: machina;
    font-size: 1.1vw;
    text-transform: uppercase;

    font-weight: 400;
    margin-bottom: 1.7vw;
}
.center-page1 h2{
    font-family: machina;
    font-size: 5.4rem;
    padding: 0 15vw;
    font-weight:500;
    margin-bottom: 1vw;
    line-height: 1;
    text-transform: capitalize;
}
.center-page1 h2 span.company{
    /* background-color: red; */
    font-family: machina;
    display: inline-block;
    padding: 5px 5px;
    border: 2px solid #E8602E;
    background-color: #E8602E21;
    position: relative;
}

.center-page1 h2 span.ltdot{
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
}
.center-page1 h2 span.rtdot{
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
}
.center-page1 h2 span.lbdot{
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%,50%);
}
.center-page1 h2 span.rbdot{
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%,50%);
}

.center-page1 p{
    font-size: 1.4vmax;
    padding: 0 20vmax;
    opacity: 0.8;
}

.center-page1 h5{
    color: rgba(255, 255, 255, 0.798);
    font-weight: 400;
    margin-top: 2vw;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vmax;
}

.center-page1 h5 span.million{
    font-weight: 700;
    color: #E8602E;
}

.center-page1 h5 span.images img{
    height: 2vmax;
    width: 2vmax;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: -20px;
}

.center-page1 button{
    background: linear-gradient(to top right, #E7602D,#A3401D);
    border: none;
    position: relative;
    /* padding: 0.8vmax 2vmax; */
    height: 3vmax;
    width: 12vmax;
    border-radius: 20px;
    margin-top: 2vmax;
    box-shadow: inset 0px 1.5px 1px rgba(255, 255, 255, 0.699), 0px 1px 1px rgba(255, 255, 255, 0.565);
}
.center-page1 button div{
    /* background-color: red; */
    overflow: hidden;
    height: 35px;
}
.center-page1 button span{
    font-weight: 600;
    font-size: 1vmax;
    display: block;
    transition: all ease 0.2s;
}

.center-page1 button:hover span{
    transform: translateY(-100%);
}

section.video{
    width:69vw;
    border-radius: 20px;
    padding: 20px 40px;
    margin: auto;
    margin-top: 3vw;
    border: 1px solid #f7bda83f;
    position: relative;
}
section.video video{
    height: 100%;
    margin-top: 10px;
    border-radius: 20px;
    width: 100%;
}


.left-item{
    position: absolute;
    left:-10%;
    top: 60%;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.left-item img{
    height:12vmax;
}
.left-item h5{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1vmax;
}

@keyframes move {
    from{
        transform: translateY(-5%);
    }
    to{
        transform: translateY(5%);
    }
}